aiohttp
cairosvg
DateTime
emoji
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gsearch
gtts
hachoir
heroku3
html-telegraph-poster
httpx[http2]
humanize
IMDbPY
instagrapi
justwatch
lottie
lyricsgenius
moviepy
nekos.py
opencv-python-headless
Pillow
psycopg2
pyfiglet
PyGithub
pymediainfo
pySmartDL
python-barcode
pytz
qrcode
regex
requests
search-engine-parser
selenium
spotdl
sqlalchemy==1.3.23
telegraph
telethon==1.24.0
tgcrypto
validators
vcam

git+https://github.com/HellBoy-OP/py-googletrans
git+https://github.com/HellBoy-OP/Wikipedia
git+https://github.com/HellBoy-OP/yt-dp-fork
git+https://github.com/HellBoy-OP/yt-search-python
