bs4
cinemagoer
edge-tts
emoji
geopy
git-python
glitch_this
googlesearch-python
googletrans @ git+https://github.com/HellBoy-OP/py-googletrans
heroku3
httpx
icrawler
lottie
lyricsgenius
motor
pillow
psutil
pyroaddon
pyrogram
pySmartDL
python-dotenv
pytz
requests
selenium
speedtest-cli
telegraph
tgcrypto
Unidecode
wikipedia
yt-dlp @ git+https://github.com/HellBoy-OP/yt-dp-fork
